.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.article-clean {
  color: #56585b;
  background-color: #fff;
  font-family: 'Lora', serif;
  font-size: 14px;
  padding-bottom: 5px;
  padding-top: 5px;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
@media (min-width:1200px) {
  .offset-xl-2 {
    margin-left: 16.66666667%;
  }
}

@media (min-width:1200px) {
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}

@media (min-width:992px) {
  .offset-lg-1 {
    margin-left: 8.33333333%;
  }
}

@media (min-width:992px) {
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.article-clean {
  color: #56585b;
  background-color: #fff;
  font-family: 'Lora', serif;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.article-clean .intro h1 {
  font-size: 32px;
  margin-bottom: 15px;
  padding-top: 20px;
  line-height: 1.5;
  color: inherit;
  margin-top: 20px;
}

.text-center {
  text-align: center!important;
  font-family: 'Lora', serif;
  font-weight: 500;
}

@media (min-width:1200px) {
  .h1, h1 {
    font-size: 2.5rem;
  }
}

.h1, h1 {
  font-size: calc(1.375rem + 1.5vw);
}
.h3, h3 {
    font-size: 1.75rem;
    font-family: 'Lora', serif !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Lora', serif;
}

.article-clean .intro {
  font-size: 16px;
  margin: 0 auto 30px;
}

.article-clean .intro p {
  color: #929292;
  font-size: 12px;
}

.text-center {
  text-align: center!important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.article-clean .intro {
  font-size: 16px;
  margin: 0 auto 10px;
}
@media (min-width:768px) {
  .article-clean .text p {
    font-size: 16px;
  }
}

.article-clean .text p {
  margin-bottom: 20px;
  line-height: 1.45;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
@media (min-width:992px) {
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
  }
}

@media (min-width:768px) {
  .container, .container-md, .container-sm {
    max-width: 720px;
  }
}

@media (min-width:576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.team-clean {
  color: #313437;
  background-color: #fff;
  padding-top: 5px;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.team-clean h2 {
  margin-bottom: 40px;
  color: inherit;
}

.text-center {
  text-align: center!important;
}
@media (min-width:1200px) {
  .h2, h2 {
    font-size: 2rem;
  }
}
.team-clean .intro p {
  margin-bottom: 0;
}

.team-clean p {
  color: #7d8285;
}

.text-center {
  text-align: center!important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.team-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}
.team-clean .item {
  text-align: center;
  padding-top: 50px;
}

@media (min-width:992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

@media (min-width:768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.team-clean .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: 'Lora', serif;
}

.team-clean p {
  color: #7d8285;
}
.team-clean .item img {
  max-width: 160px;
}

.rounded-circle {
  border-radius: 50%!important;
}

img, svg {
  vertical-align: middle;
}

.team-clean .item {
  text-align: center;
  padding-top: 20px;
}
.team-clean .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 13px;
}
.isi-static {
  text-align: justify;
}


.col-lg-10.col-xl-8.content-static {
  /* width: 100%; */
  margin: auto;
}







