.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.box {
  width: 100%;
  height: 200px;
  background: black;
}

.container-home-main {
  margin: 55px 135px;
}

.title-home-news {
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 20px;
}

.no-padding {
  padding: 0px !important;
  margin: 0px 10px !important;
  box-shadow: none !important;
  border: none !important;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.kata-pembuka-news {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}

.kata-penutup-news{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
}

.kepala-dinas{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
}

.rest p {
  font-size: 14px;
  line-height: 2.1;
}

.foto-kepala {
  width: 100%;
  border-radius: 10px;
}

.nama-kpla {
  padding-top: 35px;
}

.image-size {
  width: 386.39px;
  height: 209.59px;
}

.costum-center-paginasi {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}